<% content_for :page_header do %>

  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <strong>Instructions: </strong>Paste or type your content into the fields below. Make sure there are no span tags or other weird formatting things.
  </div>

  <div class="alert alert-warning alert-dismissible <%= hidden_class %>" id="url-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
    <strong>Important:</strong> Your inputs have been saved to this URL. Bookmark this page or copy and paste the URL to pick up where you left off.</p>
    <textarea disabled rows="3" id="url">/form/<%= params[:template] %>?<%= URI.encode_www_form(params) %></textarea>
    <button class="btn btn-primary" id="bookmarkme"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>     Bookmark this page</button>
    <button class="btn btn-primary"><a href="/templates/<%= params[:template] %>?<%= URI.encode_www_form(params) %>">
      Step 2: Preview and get code
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
    </button>
  </div>

<% end %>


<form action="/form/<%= params[:template] %>">
  <div class="panel-group" id="accordion">

  <%= yield %>

  </div><!-- end panel-group #accordion -->
  <div class="panel">
    <button type="submit" class="btn btn-primary" id="save-form" >Step 1: Save</button>
  </div>

</form>


<script type="text/javascript">
  $('.editor').trumbowyg({
    resetCss: true,
    removeformatPasted: true,
    autogrow: true,
    btns: ['viewHTML', '|', 'formatting', 'bold', 'italic', '|', 'btnGrp-lists', '|', 'link', 'horizontalRule']
  });
</script>

<script type="text/javascript">
    $(function() {
        $('#bookmarkme').click(function() {
            if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                window.sidebar.addPanel(document.title,window.location.href,'');
            } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                window.external.AddFavorite(location.href,document.title);
            } else if(window.opera && window.print) { // Opera Hotlist
                this.title=document.title;
                return true;
            } else { // webkit - safari/chrome
                alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
            }
        });
    });
</script>
