<div class="row">
  <div id="preview" class="column">
    <h2>Preview</h2>
    <p class="instructions">To make changes, <a href="/form-<%= params[:template] %>?<%= URI.encode_www_form(params) %>">go back to your form</a>.</p>
    <ul>
      <li><strong>Subject:</strong> <%= params[:subject] %></li>
      <li><strong>Author:</strong> <%= params[:author] %></li>
      <li><strong>Teaser Text:</strong> <%= params[:teaser_text] %></li>
    </ul>
    <iframe src="<%= @preview_url %>"></iframe>
  </div>
  <div id="code" class="column">
    <h2>Code</h2>
    <p class="instructions">Click anywhere in the code, Ctrl+A to select all, Ctrl+C to copy to clipboard.</p>
    <textarea disabled cols="80" rows="80"><%= @raw %></textarea>
  </div>
</div>
