<div class="row">
  <div id="preview" class="column">
    <h2>Preview</h2>
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      To make changes, <a href="/form-<%= params[:template] %>?<%= URI.encode_www_form(params) %>">go back to your form</a>.
    </div>
    <ul>
      <li><strong>Subject:</strong> <%= params[:subject] %></li>
      <li><strong>Author:</strong> <%= params[:author] %></li>
      <li><strong>Teaser Text:</strong> <%= params[:teaser_text] %></li>
    </ul>
    <iframe src="<%= @preview_url %>"></iframe>
  </div>
  <div id="code" class="column">
    <h2>Code</h2>
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      Click anywhere in the code, Ctrl+A to select all, Ctrl+C to copy to clipboard.
    </div>
    <textarea disabled><%= @raw %></textarea>
  </div>
</div>
