<% content_for :page_title do %>
  Action Alert
<% end %>

<% content_for :teaser_text do %>
  <%= params['teaser_text'] %>
<% end %>

<% content_for :banner_image do %>
  https://naceda.memberclicks.net/assets/images/Email_Banners/naceda_actionalert.jpg
<% end %>

<% content_for :banner_alt do %>
  NACEDA Action Alert
<% end %>

<% content_for :banner_title do %>
  <h1>Action Alert</h1>
  <p class="tagline">Act Now to Advance Community Prosperity</p>
<% end %>

<!-- STRIP: Begin Action Alert -->
<h2><%= params['headline'] %></h2>
<h3 class="subtitle"><%= params['subheading'] %></h3>

  <%= params['intro'] %>

<!-- STRIP: Begin Take Action Panel -->
<table cellpadding="10" cellspacing="0" border="0" cellspacing="0" border="0" class="panel blue">
  <thead>
    <tr class="panel-head">
      <td>
        <h4>Take Action</h4>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= params['take-action'] %>
      </td>
    </tr>
  </tbody>
</table>
<!-- STRIP: End panel -->
