<% content_for :page_title do %>
  Announcement
<% end %>

<% content_for :teaser_text do %>
  <%= params['teaser_text'] %>
<% end %>

<% content_for :banner_image do %>
  https://naceda.memberclicks.net/assets/images/Email_Banners/naceda_heroheader.jpg
<% end %>

<% content_for :banner_alt do %>
  Announcement from NACEDA
<% end %>

<!-- STRIP: Begin Announcement -->
<h2><%= params['headline'] %></h2>
<p class="author">by <%= params['author'] %></h3>

  <!-- STRIP: Begin Intro Panel -->
  <table cellpadding="10" cellspacing="0" border="0" cellspacing="0" border="0" class="panel blue">
    <tbody>
      <tr>
        <td>
          <%= params['intro'] %>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- STRIP: End panel -->

<div id="story">
  <img src="<%= params['image-link'] %>">
  <%= params['story'] %>
</div>

<p><strong><a href="<%= params['link'] %>">Read more...</a></strong>

<%= hr %>
