<% content_for :page_title do %>
  Create a Newsletter
<% end %>

<% content_for :page_header do %>
  <p class="instructions">Paste your text in each field as HTML. Make sure there are no span tags or other weird formatting things.</p>
<% end %>

<main>
  <form action="/form-news">
    <fieldset>
      <legend>General Email Information</legend>
      <div class="row">
        <%= textbox "Email Date", "date" %>
        <%= textbox "Teaser Text", "teaser_text" %>
        <%= textbox "Subject Line", "subject" %>
        <%= textbox "Author", "author" %>
      </div>
    </fieldset>
    <fieldset>
      <legend>News</legend>
      <div class="row">
        <%= textarea "NACEDA News", "naceda-news" %>
        <%= textarea "Member News", "member-news" %>
        <%= textarea "Federal News", "federal-news" %>
        <%= textarea "Partner News", "partner-news" %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Events</legend>
      <div class="row">
        <%= textarea "NACEDA Events", "naceda-events" %>
        <%= textarea "Member Events", "member-events" %>
        <%= textarea "Federal Events", "federal-events" %>
        <%= textarea "Partner Events", "partner-events" %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Other</legend>
      <div class="row">
        <%= textarea "Job Openings", "jobs" %>
      </div>
    </fieldset>
    <fieldset>
      <button type="submit">Save for later</button>
      <p class="instructions"><strong>Important:</strong> Come back to this exact same URL to pick up where you left off. Your answers have been saved <em>in the URL</em>.</p>
      <textarea disabled rows="5">/form-news?<%= URI.encode_www_form(params) %></textarea>
    </fieldset>
    <fieldset>
      <button><a href="/templates/news?<%= URI.encode_www_form(params) %>">Preview and get code</a></button>
    </fieldset>
  </form>
</main>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script> -->
