<% content_for :page_title do %>
  Create a People & Places Email
<% end %>

<!-- form and opening panel group are in the layout -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseGeneral" href="#collapseGeneral">
            General Email Information</a></h4>
      </div>
      <div id="collapseGeneral" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <%= textbox "Email Date", "date" %>
            <%= textbox "Teaser Text", "teaser_text" %>
          </div>
          <div class="row">
            <%= textbox "Subject Line", "subject" %>
            <%= textbox "Author", "author" %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseNews" href="#collapseStory">
            People & Places Story</a></h4>
      </div>
      <div id="collapseStory" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <%= textbox "Headline", "headline" %>
            <%= textbox "Author", "author" %>
            <%= textbox "Blog Post URL", "link" %>
            <%= textbox "Featured Image Link", "image-link" %>
          </div>
          <div class="row">
            <%= textarea "The story", "story" %>
          </div>
        </div>
      </div>
    </div>
