<% content_for :page_title do %>
  Create a Newsletter
<% end %>

<!-- form and opening panel group are in the layout -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseGeneral" href="#collapseGeneral">
            General Email Information</a></h4>
      </div>
      <div id="collapseGeneral" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <%= textbox "Email Date", "date" %>
            <%= textbox "Teaser Text", "teaser_text" %>
          </div>
          <div class="row">
            <%= textbox "Subject Line", "subject" %>
            <%= textbox "Author", "author" %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseNews" href="#collapseNews">
            News</a></h4>
      </div>
      <div id="collapseNews" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <%= textarea "NACEDA News", "naceda-news" %>
            <%= textarea "Member News", "member-news" %>
          </div>
          <div class="row">
            <%= textarea "Federal News", "federal-news" %>
            <%= textarea "Partner News", "partner-news" %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseEvents" href="#collapseEvents">
            Events</a></h4>
      </div>
      <div id="collapseEvents" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <%= textarea "NACEDA Events", "naceda-events" %>
            <%= textarea "Member Events", "member-events" %>
          </div>
          <div class="row">
            <%= textarea "Federal Events", "federal-events" %>
            <%= textarea "Partner Events", "partner-events" %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOther" href="#collapseOther">
            Other</a></h4>
      </div>
      <div id="collapseOther" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <%= textarea "Job Openings", "jobs" %>
          </div>
        </div>
      </div>
    </div>
